# pnpm will automatically install the specified version of Node.js and use it for running pnpm run commands or the pnpm node command.
# use-node-version=18.12.0

# The primary branch of the repository which is used for publishing the latest changes.
publish-branch=next

# Do not use `workspace:` protocal — to allow forks of examples outside of this monorepo
save-workspace-protocol=false

# Local packages from the workspace are preferred over packages from the registry,
# even if there is a newer version of the package in the registry.
prefer-workspace-packages=true

# Automatically installs any missing peer dependencies as dev dependencies
auto-install-peers=true

strict-peer-dependencies=false
