# pnpm will automatically install the specified version of Node.js and use it for running pnpm run commands or the pnpm node command.
#use-node-version = 16

# The primary branch of the repository which is used for publishing the latest changes.
publish-branch = next

# Do not use `workspace:` protocal — otherwise we might run in to trouble with codesandbox ci
save-workspace-protocol = false
