:root {
  --c-brand: #3b9188;
  --c-brand-light: #43a399;
  --bg-colored-light: #f3f6f7;
}

.custom-block.custom-block.tip {
  background-color: var(--bg-colored-light);
  border-color: var(--c-brand);
}

.custom-block.custom-block.tip a {
  color: #3b9188;
}

img {
  display: inline-block;
  margin: 0px 2px;
}

.DocSearch.DocSearch {
  --docsearch-primary-color: var(--c-brand);
}

.demo-link {
  transition-duration: 100ms;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  padding: 0.5rem;
  align-items: flex-end;
  display: inline-flex;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.demo-icon {
  width: 1.25rem;
  fill: currentColor;
  margin-left: 0.25rem;
  height: 1.25rem;
}

.avatar-user {
  border-radius: 50%!important;
}
